* {
    margin: 0;
    padding: 0;
}

.container {
    background:pink;
    width:960px;
    height:auto;
    float:left;
    line-height:8px;
    margin: 40px;
    padding: 6px;
}
.reset {
    float:right;
    margin: 50px;
}
.reset input {
    display:block;
    margin: 20px;
}
.reset button {
    width: 100px;
    height: 40px;
    background: pink;
    border: 1px solid gray;
    font: 14px Arial;
    display: block;
    margin: 20px;
}
.pixel {
    background:lightgrey;
    display:inline-flex;
    margin:0 !important;
}

#hover {
    background: gray;
}

.title h1 {
    color:pink;
    text-align: center;
    margin: 20px;
    font-size: 40px;
    font-family: Arial;
    display:inline-block;
}